[submodule "extern/fabm"]
	path = extern/fabm
	url = https://github.com/PatrickFarnole/fabm
[submodule "extern/flexout"]
	path = extern/flexout
	url = https://github.com/PatrickFarnole/flexout
[submodule "extern/stim"]
	path = extern/stim
	url = https://github.com/PatrickFarnole/stim
[submodule "extern/CVMix-src"]
	path = extern/CVMix-src
	url = https://github.com/CVMix/CVMix-src.git
