body,table {
	font-family:tahoma;
	font-size:8pt;
}

h1 {
	font-family:arial;
	font-size:200%;
	font-weight:bold;
}

h2 {
	font-family:arial;
	font-size:150%;
	font-weight:bold;
	border-bottom:solid 1px black;
	letter-spacing: 1.0pt;
}

h3 {
	font-family:tahoma;
	font-size:100%;
	font-weight:bold;
}