on:
  release:
    types: [created]

jobs:
  release:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Python dependencies
        run: python -m pip install git-archive-all
      - name: Clone gotm
        uses: actions/checkout@v4
        with:
           submodules: recursive
      - name: Archive code including submodules
        run: |
          git-archive-all code.tar.gz
          git-archive-all code.zip
      - name: Upload
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.ref_name }} code.tar.gz#"Source code including submodules (tar.gz)"
          gh release upload ${{ github.ref_name }} code.zip#"Source code including submodules (zip)"
